<!DOCTYPE html>
<html lang="en">
<head>
    <title>Москва-Петушки</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" >
    <link href="/static/style_2.css" type="text/css" rel="stylesheet">
</head>

<body>
<header>
  <a href="" class="logo">
      Москва
      <img src="/static/Circle-icons-train.svg.png" width="100" height="100" align="middle">
      Петушки
  </a>
  <nav>
      <ul class="topmenu">
        <li><a href="{{ main_url }}">Главная</a></li>
        <li><a href="" class="submenu-link">Графики&#10148;</a>
          <ul class="submenu">
            <li><a href="{{ sent_url }}">Предложения</a></li>
            <li><a href="{{ hero_url }}">Герои</a></li>
            <li><a href="{{ key_url }}">Слова</a></li>
          </ul>
        </li>
        <li><a href="{{ map_url }}">Карта</a></li>
        <li><a href="">Контакты</a></li>
      </ul>
    </nav>
</header>
    <h1 class="head_line">здесь будет текст или что-то еще</h1>

</body>
</html>